@model Capstone.Models.Question
@using Capstone.Models
@using Capstone.Helpers

@{
    ViewBag.Title = "GetQuestion";
}


<div class="panel panel-body col-sm-12" style="padding:0">
    <div class="help-tip" style="margin:10px;">
        <p>Description: @Model.Description <br />Answer: @Model.Answer</p>
    </div>

        @if (Model.Type == 1)
        {
            <div>
                @Model.Text
            </div>
        }
        else
        {
            <div class="wrapper" style="border:none">
                <span class="for-image"></span>
                @Html.Image(Model.Picture)
            </div>
        }
</div>

