@model Capstone.ViewModels.DynamicViewModel

@{
    ViewBag.Title = "Take";
}

<h2>Take Quiz</h2>

<div>
    <a href="https://blog.mariusschulz.com/2014/02/05/passing-net-server-side-data-to-javascript">Link to javascript/json serialization to send data</a>
</div>
