@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>Assessment Software</h1>
    <p class="lead">All in one class management, quiz creation, teacher collaboration, and assessment software that will help you spend more time teaching.</p>
    <p><a href="https://github.com/abegus" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>

<div class="container">

    <div class="col-sm-4">
        <h3>
            Create Custom Quizzes
        </h3>
        <p>
            The <a>Quiz</a> module gives you the ability to create your own quizzes that you can use to individually test your students.
            Once you create a quiz, you can then add it to your Class to use!
        </p>
    </div>
    <div class="col-sm-4">
        <h3>
            Virtualize Your Class
        </h3>
        <p>
            Recreate your classroom in the <a>Class</a> module. This module allows you to:
        </p>
        <ul>
            <li>Create multiple classes</li>
            <li>Add and Manage students</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h3>
            Test Your Students
        </h3>
        <p>Once you have added a Quiz to your class, test them one on one to record their information.</p>
    </div>
</div>
