@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Personal Email:</strong>   <a href="mailto:agbues@gmail.com">agbues@gmail.com</a><br />
    <strong>School Email:</strong> <a href="mailto:gustafso.abra@uwlax.edu">gustafso.abra@uwlax.edu</a>
</address>