@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assessment Software</h1>
    <p class="lead">All in one class management, quiz creation, teacher collaboration, and assessment software that will help you spend more time teaching.</p>
    <p><a href="https://github.com/abegus" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>

<div class="row">
    
</div>