body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*button * {
    color:white;
}
    /*
/* CUSTOM STYLING */
.navbar{
    /*background-color:#565656;*/
}

.stylebox{
   /* background-color:#D7CEC7;*/
}

/* Buttons 
.btn-primary{
    background-color:#76323F;
    border-color:#565656;
}
.btn-primary:hover {
     background-color: #471f27;
     color:white;
}
.a:hover{
    color:white;
}*/


/* QUIZ ADVANCED */
table{
    margin-top:15px;
}


/** Centering the image in the GetQuestion*/
.wrapper {
    width: 100%;
    height: 300px;
    border: 2px solid #93c504;
    text-align: center
}

.for-image {
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

img {
    max-width: 250px;
    height: auto;
    background: #3A6F9A;
    vertical-align: middle
}



/* HELP TIP CSS FOOUND AT: https://tutorialzine.com/2014/07/css-inline-help-tips */
.help-tip {
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

    .help-tip:before {
        content: '?';
        font-weight: bold;
        color: #fff;
    }

    .help-tip:hover p {
        display: block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }

    .help-tip p { /* The tooltip */
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }

        .help-tip p:before { /* The pointer of the tooltip */
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom-color: #1E2021;
            right: 10px;
            top: -12px;
        }

        .help-tip p:after { /* Prevents the tooltip from being hidden */
            width: 100%;
            height: 40px;
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
        }

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}