body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

button * {
    color:white;
}

/* CUSTOM STYLING */
.navbar{
    /*background-color:#565656;*/
}

.stylebox{
    background-color:#D7CEC7;
}

/* Buttons */
.btn-primary{
    background-color:#76323F;
    border-color:#565656;
}
.btn-primary:hover {
     background-color: #471f27;
     color:white;
}
.a:hover{
    color:white;
}


/* QUIZ ADVANCED */
table{
    margin-top:15px;
}